.move-container {
  display: flex;
  padding: 5%;
  height: 100vh;
  width: 100%;
  margin: 0;
  background-color: black;
  perspective: 600px;
}
h1 {
  color: white;
}
.move-cube {
  width: 100px;
  height: 100px;
  background-color: crimson;
  position: relative;
  animation: example;
  animation-duration: 5s;
  animation-iteration-count: infinite;
  animation-direction: reverse;
}

@keyframes example {
  0% {
    left: 0px;
    top: 0px;
    background-color: crimson;
  }
  25% {
    left: 0px;
    top: 300px;
    background-color: blue;
    perspective: 300px;
    transform: rotate(90deg);
  }

  50% {
    left: 300px;
    top: 300px;
    background-color: greenyellow;
    transform: rotate(370deg);
  }
  75% {
    left: 0px;
    top: 300px;
    background-color: blue;
    transform: rotate(90deg);
  }
  100% {
    left: 0px;
    top: 0px;
    background-color: crimson;
    transform: rotate(0deg);
  }
}
