.main-menu-container {
  text-align: center;
}

.main-menu-grid {
	margin: 1rem;
	display: grid;
	gap: 1vh;
	grid-template-columns: repeat(4, 1fr);
}

.main-menu-card {
  text-align: center;
	padding: 1rem;
	background-color: #282c34;
	border-radius: 10px;
	color: whitesmoke;
}

.nav-link {
	font-size: large;
	font-family: Verdana, Geneva, Tahoma, sans-serif;
	letter-spacing: 2px;
	color: whitesmoke;
}
